<html>
  <body>
    <div class="center">
    <form [formGroup]="f" (ngSubmit)=onSubmit(f.value)>
      <div class="stars">
        <input type="radio" id="five" ng-model="button.value" formControlName="rating" value="5">
        <label for="five"></label>
        <input type="radio" id="four" ng-model="button.value" formControlName="rating" value="4">
        <label for="four"></label>
        <input type="radio" id="three" ng-model="button.value" formControlName="rating" value="3">
        <label for="three"></label>
        <input type="radio" id="two" ng-model="button.value" formControlName="rating" value="2">
        <label for="two"></label>
        <input type="radio" id="one" ng-model="button.value" formControlName="rating" value="1">
        <label for="one"></label>
        <span class="result"></span>
        <br><br><br>
        <br><br><br><br><br><br><br>

        <textarea id="w3review" formControlName="review" rows="4" cols="50" placeholder="enter the feedback">
          </textarea>
          <br><br>
        <button type="submit">Submit</button> 
    </div>
    </form>
        
</div>
</body>
</html>
