<html>
    <body>
<div id="main">
    <h1>SIGNUP</h1>
    <div id="main1">
    <form [formGroup]="f" >
        <label for="fname">FIRST NAME:</label><br>
        <input type="text" id="fname" formControlName="fname"><br><br>
    
        <label for="lname">LAST NAME:</label><br>
        <input type="text" id="lname" formControlName="lname"><br><br>
       
        <label for="mobile_no">MOBILE NO:</label><br>
        <input type="text" id="mobile_no" formControlName="mobile_no"><br><br>
       
    
        <label for="username">SET USERNAME:</label><br>
        <input type="text" id="username" formControlName="username"><br><br>
    
        <label for="password">SET PASSWORD:</label><br>
        <input type="text" id="password" formControlName="password"><br><br>
        
        <button type="button" id="btn" (click)="createNewUser(f.value)">SignUp</button>
    </form>
</div>
</div>
</body>
</html>
