
.intro{
    
     right:-790;
     color:white;
     background-color:rgb(52, 53, 60);
      width: 470px;
      height:550px;
      padding: 50px;
      top:-20;
    }
    body{
    background:url('aboutpage.jpg');
    background-repeat: no-repeat; 
    background-size:cover;
    
    }

    #back{
      text-align: center;
      font-size: larger;
      top:-20;
      left: -790;
      font-weight:bold white;
    }