<html>
<body>
 
<div class="intro">
<h1>WELCOME TO THE VIKINGS</h1>
<h3>A little about us and how we started</h3>
<br/>
<p>The Vikings Restaurant is an iconic landmark restaurant unlike any other located at the heart of the Pune city.<br/><br/>
  At The Vikings we believe in delivering  an unforgetable exquisite experience. <br/><br/>
 Our vision goes beyond making and serving food.We specialize on exquisite deserts that has the flavour of natural fruits which
 leaves a sweet experience.<br/>
 
</p>
</div>
<div id="back">
  <a routerLink = "/home">Back</a>
  </div>

</body>
</html>