<html>
    <body>
        <h1>Rates</h1>
        <div class="bg">
            <table border="1" align ="center">
                <tr>
                    <th>Timings</th>
                    <th>12:00pm</th>
                    <th>03:00pm</th>
                    <th>07:00pm</th>
                    <th>09:00pm</th>
                </tr>
                <tr>
                    <td>Veg(P)</td>
                    <td>750/-</td>
                    <td>750/-</td>
                    <td>850/-</td>
                    <td>850/-</td>
                </tr>
                <tr>
                    <td>Non Veg(P)</td>
                    <td>850/-</td>
                    <td>850/-</td>
                    <td>950/-</td>
                    <td>950/-</td>
                </tr>
                <tr>
                    <td>Kids(P)</td>
                    <td>400/-</td>
                    <td>400/-</td>
                    <td>450/-</td>
                    <td>450/-</td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="back">
            <a routerLink = "/home">Back</a>
            </div>
    </body>
</html>
