<html>
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <ul>
            <li><a  routerLink="/home"  routerLinkActive="active">Home</a></li>
            <li><a  routerLink="/rate"  routerLinkActive="active">View Rate</a></li>
            <li><a routerLink="/book"  routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact"  routerLinkActive="active">Contact  Us</a></li>
            
          </ul>
        <div class="bg" >
            <h1 id="rate">Rates</h1>
            <table border="1" align ="center">
                <tr>
                    <th>Timings</th>
                    <th>12:00pm</th>
                    <th>03:00pm</th>
                    <th>07:00pm</th>
                    <th>09:00pm</th>
                </tr>
                <tr *ngFor="let r of rates">
                    <td>Veg(P)</td>
                    <td>{{r.lunch1}}</td>
                    <td>{{r.lunch2}}</td>
                    <td>{{r.dinner1}}</td>
                    <td>{{r.dinner2}}</td>
                </tr>
               
            </table>
            <br>
        <br>
            <div id="back">
                <a routerLink = "/home">Back</a>
                </div>
        </div>
        <br>
        <div class="footer">
         <!-- Add font awesome icons -->
         <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
         </div>       
    </body>
</html>
