<html>
<body>
  <br>
<div style="text-align: center">
    <h1>BOOKING DETAILS</h1>
    </div>
    <div class = "bg">
    
    <table border="1" align ="center">
        <thead>
    
            <tr>
            
            <th>BookingId</th>
            <th>Mobile Number</th>
            <th>Booked Date</th>
            <th>Reserved Date</th>
            <th>Time</th>
            <th>No Of Guests</th> 
            <th>Table No</th>
            <th>UserName</th>   
            
            <th>Cancel Reservation/Feedback</th>   
            </tr>
         </thead>
         <tbody>
              <tr *ngFor="let d of detail">
                <td>
                    <h5>{{d.bookingId}}</h5>
                  </td>
                  <td>
                    <h5>{{d.guestMobileNumber}}</h5>
                  </td>
                  <td>
                    <h5>{{d.bookedDate|date:'dd-MM-yyyy'}}</h5>
                  </td>
                  <td>
                    <h5>{{d.reservationDate|date:'dd-MM-yyyy'}}</h5>
                  </td>
                  <td>
                  <h5>{{d.slotTime}}</h5>
                  </td>
                  <td>
                    <h5>{{d.noOfGuests}}</h5>
                  </td> 
                <td>
                    <h5>{{d.tableNo}}</h5>
                </td>
                <td>
                  <h5>{{d.guestName}}</h5>
                </td>
                <td>
 
                <div *ngIf="(d.reservationDate |date :'yyyy-MM-dd') > (mindate |date:'yyyy-MM-dd');else feedback">
                  <button (click)="deleteUser(d)" type="button"  id="btn" >Cancel</button>
                </div>
                <div>
                  <ng-template #feedback>
                  <button (click)="feedbacks(d)" type="button"  id="btn" >Feedback</button>  
                </ng-template> 
                </div>
            </td>
            </tr>
         </tbody>  
        </table>
        </div>
        <div class="back">
            <a routerLink ="/book">Back</a>
        </div> 