body, html {
    height: 100%;
  }
  * {
    box-sizing: border-box;
  }
  .back {
    /* The image used */
    background-image: url("pic.jpg");
  
    /* Control the height of the image */
    min-height: 600px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
  }
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  #btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  #btn:hover {
    opacity: 1;
  }
  input[type=text], input[type=date], input[type=time],input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  #back
{
  position: relative;
  top:-200px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.11);
    width: 10%;
    height: 20px;
    margin: auto;
    color:black; 
    border:3px solid white;
    align-items: center;
}
#back:hover ,#back:active
{
    background-color:rgba(117, 94, 94, 0.521);;
}
a{
  color:rgb(8, 7, 7);
  text-decoration: none;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.footer{
  position: relative;
  top: -200px;
}