<head><h2>Book here</h2></head>
      <br>
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><a  routerLink="/home"  routerLinkActive="active">Home</a></li>
    <li><a  routerLink="/rates"  routerLinkActive="active">View Rates</a></li>
    <li><a routerLink="/about"  routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact"  routerLinkActive="active">Contact  Us</a></li>
    <li><a routerLink="/details" routerLinkActive="active">Booking Details</a></li>
  </ul>

  <div>
    <h2>Availabe Tables</h2>
    <table border="1" align ="left" class="capacity">
      <tr>
        <th>Table No</th>
        <th>Capacity</th>
      </tr>
      <tr>
        <td>1</td>
        <td>4</td>
      </tr>
      <tr>
        <td>2</td>
        <td>4</td>
      </tr>
      <tr>
        <td>3</td>
        <td>2</td>
      </tr>
      <tr>
        <td>4</td>
        <td>4</td>
      </tr>
      <tr>
        <td>5</td>
        <td>3</td>
      </tr>
    </table> 
  </div>

    <div class="back">
<form [formGroup]="f" (ngSubmit)=onSubmit(f.value) class="container">
    <label for="start-date">DATE:</label>
    <input type="date" id="start-date" min="{{mindate | date:'yyyy-MM-dd'}}" formControlName="start_date" /><br><br>
    <label for="time">CHOOSE A TIME SLOT:</label>
  <select name="time" id="time" formControlName="time">
    <option value="12:00 PM">12:00 PM</option>
    <option value="03:00 PM">03:00 PM</option>
    <option value="07:00 PM">07:00 PM</option>
    <option value="09:00 PM">09:00 PM</option>
  </select><br><br> 
     <label for="tentacles">Number of Guests :</label>
     <input type="number" id="tentacles" formControlName="guests" min="1" max="50">
    <br><br>
    <button type="submit" id="btn1" value="submit">Check Availability</button>
    <br><br>
    <li *ngFor = "let t of book">
      <input type="radio" id="{{t.tableNo}}" formControlName="booking" value="{{t.tableNo}}">
      <label  for="{{t.tableNo}}">{{t.tableNo}}</label>
      </li>
      <br><br>
      <button (click)="onYes(f.value)" type="button"  id="btn" >Book</button>
  </form>
    
</div>
<div id="back">
  <a routerLink = "/home">Back</a>
  </div>
<br>
<div class="footer" style="text-align:center">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
</body>