<head><h2>Book here</h2></head>
      <br>
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
    <li><a  routerLink="/home"  routerLinkActive="active">Home</a></li>
    <li><a  routerLink="/rates"  routerLinkActive="active">View Rates</a></li>
    <li><a routerLink="/about"  routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact"  routerLinkActive="active">Contact  Us</a></li>
    <li><a routerLink="/details" routerLinkActive="active">Booking Details</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Logout</a></li>
  </ul>

    <div class="back">
<form [formGroup]="f" (ngSubmit)=onSubmit(f.value) class="container">
    <label for="reservationDate">DATE:</label>
    <input type="date" id="reservationDate" min="{{mindate | date:'yyyy-MM-dd'}}" formControlName="reservationDate" /><br><br>
    <label for="slotTime">CHOOSE A TIME SLOT:</label>
  <select name="slotTime" id="slotTime" formControlName="slotTime">
    <option value="12:00">12:00 PM</option>
    <option value="03:00">03:00 PM</option>
    <option value="07:00">07:00 PM</option>
    <option value="09:00">09:00 PM</option>
  </select><br><br> 
    
    <button type="submit" id="btn1" value="submit">Check Availability</button>
    <br><br>
    <label for="noOfGuests">Number of Guests :</label>
    <input type="number" id="noOfGuests" formControlName="noOfGuests" min="1" max="10">
   
   <div class="dropdown">
   <button class="dropbtn">Available Tables</button>
   <div class="dropdown-content">
    <table border="1" align ="left" class="capacity">
      <tr>
        <th>Table No</th>
        <th>Capacity</th>
      </tr>
      <tr>
        <td>1</td>
        <td>4</td>
      </tr>
      <tr>
        <td>2</td>
        <td>4</td>
      </tr>
      <tr>
        <td>3</td>
        <td>2</td>
      </tr>
      <tr>
        <td>4</td>
        <td>4</td>
      </tr>
      <tr>
        <td>5</td>
        <td>3</td>
      </tr>
    </table> 
    </div>
  </div>
<br><br>
   <div *ngIf="isEmptyObject(book); else name" >
    No Tables Available
   </div> 
   <ng-template #name>
   <legend>Select Table:</legend>
    <li *ngFor = "let t of book">
     <label  for="TABLE_NO">{{t.tNo}}</label>
     <input type="radio" id="TABLE_NO" formControlName="tNo" value="{{t.tNo}}">
    </li>
  </ng-template>
 
      <!--input type="text" id="TABLE_NO"/-->
      <br><br>
      
      <button (click)="onYes(f.value)" type="button"  id="btn" >Book</button>
  </form>
    
</div>
<div id="back">
  <a routerLink = "/home">Back</a>
  </div>
<br>
<div class="footer" style="text-align:center">
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
</body>